@page "/about"

<link rel="stylesheet" href="css/termsPages.css" />


<div class="container">

    <h1>What is Doplan ?</h1>
    <p>Doplan is for managing your programs and tasks and making plans!</p>

    <h2>How it works?</h2>
    <p>First you need to read this introduction to app which is accessible anytime you want from the home page</p>
    <img class="image" src="images/1.jpg" />

    <p>You can access different pages with the navigation bar</p>
    <img class="image" src="images/1-2.jpg"/>

    <p>There is also a note page which is just for taking notes</p>
    <img class="image" src="images/2.jpg" />

    <p>And we have four type of plan to give you a good seperation for your programs.
        long term and short term and weekly and daily.</p>
    <p>for example the picture below is for long term programs page and as you can see a program has a title and have some task
        to complete the program. you can add as many task as you need.</p>
    <img class="image" src="images/3.jpg"/>
    <img class="image" src="images/4.jpg" />

    <p>This is the same for all four type of programs and with completion option you can check it if its completed so you
        know which one is finished</p>
    <img class="image" src="images/5.jpg" />
    <img class="image" src="images/6.jpg" />

    <p>And finally in the home page you can filter and search your programs and as same as other pages, even after adding a 
        program you can adjust its tasks</p>
    <img class="image" src="images/7.jpg" />

    <p>And thats all! Just like that😁</p>
    <p>Now make plan for your dreams and works, and keep going step by step!</p>

    <hr />
    <div class="about-creator">
        <h2>About the Developer</h2>
        <p>Hi! I'm Mahdi Panahi, the creator of Doplan. I'm a passionate developer who loves building helpful and useful apps.</p>
        <p>If you have any feedback, ideas, or just want to say hi, feel free to reach out!</p>
        <p>
            📧 <a href="mailto:programmer.mpr@gmail.com">programmer.mpr@gmail.com</a><br />
            🌐 <a href="https://github.com/MPRogrammer1212" target="_blank">GitHub</a> |
            <a href="https://www.linkedin.com/in/mahdi-panahi/" target="_blank">LinkedIn</a><br />
            <img class="icon" src="images/Telegram_logo.svg"/>
            <a href="https://t.me/MPRogrammer1214" target="_blank">Telegram</a>
        </p>
        <p style="font-size: small; opacity: 0.7;">Doplan v1.0.0 &copy; 2025</p>
    </div>


</div>


